  body {
  background: red !important;
}
boby{
  margin: 0;
  background: #222;
  color: white;
}

/* START画面 */
#startScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STARTボタン */
.startBtn {
  background: orange;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 12px;
}

/* 非表示 */
.hidden {
  display: none;
}

